# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp.*
.yarn/*

# Build
dist
dist-ssr
.svelte-kit

# Tauri
src-tauri/target
src-tauri/gen

# Iconography (нагенерим из одного файла, не трогаем git)
src-tauri/icons/*.png
src-tauri/icons/*.icns
src-tauri/icons/*.ico

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
